#menu .hamburger-react{
    color:white;
    position: absolute !important;
    top: 30px !important;
    right: 26px !important;
    z-index:1000;
    
}

#menu span{
    color:white;
    cursor: pointer;
    position: absolute;
    top: 44px;
    right: 70px;
    font-weight:700;
    text-transform: capitalize;
    z-index:1000;

}

#menu .menu_container{
    opacity: 1;
    height: 100vh;
    padding-top:10em;
    background: #343e49;
    width: 35vw;
    min-width:fit-content;
    left: 65vw;
    position: absolute;
    z-index:999;
}


#menu .menu_container .nav_item{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    min-width:fit-content;
    padding: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#menu .menu_container .nav_item a{
    font-size:1.5em;
}

#menu .social_logo_container{
    margin-top:3em;
}

#menu .social_logo_container img{
    filter: contrast(0) brightness(100);
}

@media screen and (max-width:1000px){
    #menu .menu_container{
        width: 100vw;
        left:0px;
    }
    
}